# Ignore environment file
.env

# Ignore Excel output
testfaker.xlsx

# Ignore NY data folder
ny/
*.csv

# Template Tools
template_tools/output/
template_tools/templates/

# Python cache
__pycache__/
*.pyc

testfaker.csv

output/
